<a href="https://colab.research.google.com/github/ShaziaFarheen/ADDITIONAL-PROGRAM/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('whitegrid')
import statsmodels.api as sm

In [0]:
df = pd.read_csv("Book.csv")

In [5]:
df.head()

   S.no Faculty name      voice  ... completion explaining    solving
0     1        Aysha       good  ...      worst        bad  excellent
1     2        priya  excellent  ...        bad  excellent       good
2     3          Ram   moderate  ...       good       good        bad
3     4       Karthi        bad  ...   moderate       good      worst
4     5         Neha  excellent  ...        bad   moderate       good

[5 rows x 8 columns]